/* write your override styles here */
#wall .tag-1 {
  display: none;
}
.parent {
  display: none;
}

.tag-2 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

div class="tag-1"></div>
    <div id="tag-2"></div>
    <div id="tag-3" class="slick wicked"></div>